<div id="carouselNews" class="carousel slide" data-ride="carousel" data-interval="2000">
  <ol class="carousel-indicators">
    {{ range sort $.Site.Data.carousel "position" }}
    <li data-target="#carouselNews" data-slide-to="{{ .position }}" class="{{ if eq .position 0 }}active{{ end }}"></li>
    {{ end }}
  </ol>
  <div class="carousel-inner"> {{ range sort $.Site.Data.carousel "position" }}
    <div class="carousel-item {{ if eq .position 0 }}active{{ end }}">
      <div class="carousel-caption d-block">
        <a style="font-size: 1.25em;color:white;" href="{{ .link }}">{{ .text }}</a>
        <p style="text-align: center;"><img class="d-none d-lg-block" src="{{ .pictureUrl }}" height="120px" alt="Icon" ></p>
    </div></div>
    {{ end }} </div>
  <a class="carousel-control-prev" href="#carouselNews" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselNews" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
