<div id="carouselNews" class="carousel slide" data-ride="carousel" data-interval="2000">
  <ol class="carousel-indicators">
    {{ range sort $.Site.Data.carousel "position" }}
    <li data-target="#carouselNews" data-slide-to="{{ .position }}" class="{{ if eq .position 0 }}active{{ end }}"></li>
    {{ end }}
  </ol>
  <div class="carousel-inner"> {{ range sort $.Site.Data.carousel "position" }}
    <div class="carousel-item my-auto {{ if eq .position 0 }}active{{ end }}">
      <div class="carousel-caption d-block"> <img class="d-block h-25 mx-auto" src={{ .pictureUrl }} alt="">
        <p style="font-size: 1.1em; margin-top:10px"> {{ .text }}</p>
        <a class="btn btn-primary" href={{ .link }}>Learn more</a></div>
    </div>
    {{ end }} </div>
  <a class="carousel-control-prev" href="#carouselNews" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselNews" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
