<footer class="footer">
  <ul class="icons">
    <li>
      <a href="#" class="icon fa-twitter">
        <span class="label">Twitter</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon fa-github">
        <span class="label">GitHub</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon fa-envelope">
        <span class="label">Email</span>
      </a>
    </li>
  </ul>
  <p>Copyright DASH Industry Forum 2012-2018</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
