<footer class="footer">
  <ul class="icons">
    <li> <a href="https://twitter.com/dash_if" class="icon fa-twitter"> <span class="label">Twitter</span> </a> </li>
    <li> <a href="https://github.com/Dash-Industry-Forum" class="icon fa-github"> <span class="label">GitHub</span> </a> </li>
    <li> <a href="mailto:dashindustry@live.com" class="icon fa-envelope"> <span class="label">Email</span> </a> </li>
  </ul>
  <p>Copyright DASH Industry Forum 2012-2024</p>
  <p> <a href="#">Back to top</a> </p>
</footer>
