<html lang="en">
<head>
<meta name="google-site-verification" content="cCuiMtZk6IvWViHsgtzbOEQ26Q__bPePqio6Aa0hOvI" />
<title>DASH Industry Forum | Catalyzing the adoption of MPEG-DASH</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ "css/dashif.css" | relURL }}" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Raleway:400,800,300,200,700,500" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,800,300,200,700,500" rel="stylesheet" type="text/css">
<style>
.carousel-inner .carousel-item {	
    min-height: 200px;
    height: 40%;
    background-color: #0165FF;
}
.carousel-caption {
    top: 10%;
}
</style>
</head>
