<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted nav-menu" href="#">Home</a>
    <a class="p-2 text-muted nav-menu" href="#">About</a>
    <a class="p-2 text-muted nav-menu" href="#">Guidelines</a>
    <a class="p-2 text-muted nav-menu" href="#">Test Assets</a>
    <a class="p-2 text-muted nav-menu" href="#">Identifiers</a>
    <a class="p-2 text-muted nav-menu" href="#">Members</a>
    <a class="p-2 text-muted nav-menu" href="#">Academic</a>
    <a class="p-2 text-muted nav-menu" href="#">Software</a>
    <a class="p-2 text-muted nav-menu" href="#">Clients</a>
    <a class="p-2 text-muted nav-menu" href="#">News</a>
    <a class="p-2 text-muted nav-menu" href="#">Events</a>
    <a class="p-2 text-muted nav-menu" href="#">FAQ</a>
    <a class="p-2 text-muted nav-menu" href="#">Contact</a>
  </nav>
</div>
