.header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1em
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.navbar {
  background-color: white;
}

.nav-menu {
  font: 14px 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

body {
  color: #727272;
  font-size: 16;
}

.breadcrumb-leaf {
  color: white;
}

.breadcrumb-nav {
  background-image: url(/img/pattern11.png);
  background-position-x: left;
  background-position-y: top;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  padding: 28px 20px;
}
