<table>
{{ $prefix := "https://raw.githubusercontent.com/Dash-Industry-Forum/Codecs/master/" }}
{{ $path := .Get 0 }}
{{ $url := print $prefix "/" $path }}
{{ $sep := "|" }}
  <thead>
    <tr>
      <th>Codec Name</th>
      <th>Specification</th>
      <th>Codecs Parameter</th>
      <th>Profiles Parameter</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    {{ range $i, $r := getCSV $sep $url }}
    <tr>
      <td>{{ index $r 0 }}</td>
      <td>{{ index $r 1 }}</td>
      <td><code>{{ index $r 2 }}</code></td>
      <td><code>{{ index $r 3 }}</code></td>
      <td>{{ index $r 4 }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
