<table>
{{ $prefix := "https://raw.githubusercontent.com/Dash-Industry-Forum/Codecs/master/" }}
{{ $path := .Get 0 }}
{{ $url := print $prefix "/" $path }}
{{ $sep := "|" }}
  <thead>
    <tr>
      <th>CMAF Profile Parameter</th>
      <th>Media Profile Name</th>
      <th>Specification</th>
      <th>Appropriate Codecs Parameter</th>
      <th>More Information</th>
    </tr>
  </thead>
  
  <?php
  // The nested array to hold all the arrays
  $the_big_array = []; 

  // Open the file for reading
  if (($h = fopen("{$url}", "r")) !== FALSE) 
  {
    // Each line in the file is converted into an individual array that we call $data
    // The items of the array are comma separated
    while (($data = fgetcsv($h, 1000, $sep)) !== FALSE) 
    {
      // Each individual array is being pushed into the nested array
      $the_big_array[] = $data;		
    }

    // Close the file
    fclose($h);
  }

  // Display the code in a readable format
  echo "<pre>";
  var_dump($the_big_array);
  echo "</pre>";
  >

  <tbody>
    {{ range $i, $r := getCSV $sep $url }}
    <tr>
      <td><code>{{ index $r 3 }}</code></td>
      <td>{{ index $r 0 }}</td>
      <td>{{ index $r 1 }}</td>
      <td><code>{{ index $r 2 }}</code></td>
     <td><a href="{{ index $r 4 }}">{{ index $r 4 }}</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
